

<!-- app-form-viewch -->

<div class="container">
    <h1 class="bg-primary text-white text-center p-4 mb-4">Table By Using viewch</h1>
    <div class="row">
        <div class="col-md-6">
            <app-formm-view-ch (addStdInfoR)="onStudentadd($event)"></app-formm-view-ch>
        </div>
        <div class="col-md-6">
            <app-table-view-ch [stdInfO]="stdArraY"></app-table-view-ch>
        </div>
    </div>
</div>







<div class="container">
    <h1 class="bg-secondary text-white text-center p-4 mb-4">Table By Using TemplateRefe</h1>
    <div class="row">
        <div class="col-md-6">
            <app-form-temp-ref (addStdInfoo)="onStud($event)"></app-form-temp-ref>
        </div>
        <div class="col-md-6">
            <app-table-temp-ref [stdInfoo]="stdArrayy"></app-table-temp-ref>
        </div>
    </div>
</div>








<div class="container">
    <h1 class="bg-info text-white text-center p-4 mb-4">Table By Using DataBinding</h1>
    <div class="row">
        <div class="col-md-6 ">
            <app-std-form (addStdInfo)="onStdAdded($event)"></app-std-form>
        </div>
        <div class="col-md-6">
            <app-std-table [stdInfo]="stdArray"></app-std-table> 
        </div>
    </div>
</div>















<!-- 
 <div class="container mt-4">
    <div class="row"> -->
        <!-- <div class="col-md-6">

            <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" [(ngModel)]="fnameval" id="fname" class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" [(ngModel)]="lnameval" id="lname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" [(ngModel)]="emailval" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="text" [(ngModel)]="contactval" id="contact" class="form-control">
            </div>
            <div class="text-right">
                <button class="btn btn-primary" (click)="onAddStudent()">
                    Add student
                </button>
           </div>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr no</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let std of stdArray; index as i"> 
                     <tr *ngFor="let std of stdArray; i = index"> 
                         <td>{{i + 1}}</td>
                        <td>{{std.fname}}</td>
                        <td>{{std.lname}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.contact}}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-table></app-table> 








 <p class="ml-4 p-4">{{layoutstatus}}</p>
<p class="ml-4 p-4">{{onhandleflipk}}</p>
<app-layout (layouteve)="layouthand($event)"></app-layout>

<app-flipkartprod (flipkartprodhand)="onhandleflipk($event)"></app-flipkartprod>

<div class="row">
    <div class="col-md-6"> -->
<!-- <app-post [postDetails]="postsInfo[0]"></app-post>
        <app-post [postDetails]="postsInfo[1]"></app-post>
        <app-post [postDetails]="postsInfo[2]"></app-post> -->

<!-- OR -->


<!-- <app-post [postDetails]="post" *ngFor="let post of postsInfo"></app-post> -->
<!-- </div> -->
<!-- </div> -->











<!-- 

<p class="ml-4 p-4">{{msgfromchild}}</p>
<p class="ml-4 p-4 ">{{productsatus}}</p>
<app-nchild (getmsgfromchild)="onmsgfromchild($event)"></app-nchild>
<app-products (productstatus)="onstatusHandler($event)"></app-products> -->