<table class="table table-striped">
    <thead>
        <tr>
            <th>Sr no</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of stdInfo; index as i">
        <!-- <tr *ngFor="let std of stdInfo; i = index"> -->
            <td>{{i + 1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
        </tr> 
    </tbody>
</table>